SECRET_KEY="@7g^3=k08y8z%_udjdx8o8wrgkknf81@pgdt44(er+q)4y6bstg"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="blog_base"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgresql"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"