{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">

        {% if page_obj %}
          <div class="card-grid">
            {% for post in page_obj %}
              {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
            {% endfor %}
          </div>
        {% else %}
          <div class="NoT-Found center">
            <h1> Nothing Here </h1>
            <p> Nothing found at this link, 
                please move to another link or return to
                <a href="{% url 'blog:index' %}">Home<a/> 
            </p>
        {% endif %}

      </div>
    </div>
  </main>
{% endblock %}